<article class="card">
    <header>
        <figure>
            {{ with .Resources.GetMatch "preview-image" }}
            <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
            {{ end }}
        </figure>
    </header>
    <main>
        <h4><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h4>
        <p>
            {{ .Summary }}
        </p>
    </main>
    <footer>
        <ul class="technology">
            {{ range .Params.technologies }}
            <li class="badge">
                {{ partial "tech_logo.html" . }}
            </li>
            {{ end }}
        </ul>
    </footer>
</article>