<section class="container-fluid">
    <nav style="padding: 0 1rem; margin: 1rem 0; font-family: sans-serif;">
        <ul>
            <a href="/">
                {{ with resources.Get "brand-logo.png" }}
                    <img src="{{ .RelPermalink }}" alt="Brand Logo" width="30" style="border-radius: 50%;"/>
                {{ end }}
            </a>
        </ul>
        <ul></ul>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
        </ul>
    </nav>
</section>
