:root {
	--brand-primary: #f54e4e;
}
.brand.primary {
	color: var(--brand-primary);
}
/* remove list bullet */
ul#project-pages > li {
	list-style-type: none;
}
/* remove link underline */
a {
	text-decoration: none;
}