{{ define "banner" }}
<div
  class="banner pico-background-zinc-750"
  style="text-align: center; padding: 0.75rem 0; font-size: 1.2em"
>
  <span><strong>Open to Work</strong></span>
  <span>📣</span>
  <a
    href="http://www.linkedin.com/in/jacksongalan"
    class="pico-color-blue-400 link"
    >Hire Jackson</a
  >
</div>
{{ end }} {{ define "main" }}
<main>
  <section
    class="container"
    id="home-business-card"
    style="padding: 0; max-width: 558px"
  >
   {{ partial "business-card/index.html" . }}
  </section>
  <section>
    <header class="container-fluid">
      <h2 style="text-align: center">Projects</h2>
    </header>
    {{ partial "projects.html" . }}
  </section>
</main>
{{ end }}
