{{ define "banner" }}
<div
  class="banner pico-background-blue-800"
  style="text-align: center; padding: 0.25rem"
>
  <span><strong>Open to Work</strong></span>
  <span>📣</span>
  <a
    href="http://www.linkedin.com/in/jacksongalan"
    class="pico-color-blue-300"
    >Hire Jackson</a
  >
</div>
{{ end }} {{ define "main" }} {{ partial "business-card" . }}
<main>
  <section
    class="container"
    style="
      max-width: 400px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 2rem 0 0;
    "
  >
    <business-card>
      <img
        slot="avatar"
        src="{{ site.BaseURL }}images/avatar.png"
        alt="headshot of young software engineer"
      />
      <h1 slot="full_name">
        <span class="name_first">Jackson</span>
        <span> </span>
        <span class="name_last pico-color-blue-800">Galan</span>
      </h1>
      <a
        slot="github"
        href="https://github.com/abstractionjackson"
        >@abstractionjackson</a
      >
      <h2 slot="job_title">Software Engineer</h2>
    </business-card>
  </section>
  <section>
    <header class="container-fluid">
      <h2>Projects</h2>
    </header>
    {{ partial "projects.html" . }}
  </section>
</main>
{{ end }}
