<ul style="margin: 0; padding: 0">
  {{ range site.RegularPages }} {{ if eq .CurrentSection.Title "Projects"}}
  <li style="list-style: none; max-width: 558px; margin: auto">
    <article>
      {{ if .Params.featured_image }} {{ with resources.GetRemote
      .Params.featured_image }}
      <header>
        <img
          src="{{ .RelPermalink }}"
          alt=""
        />
      </header>
      {{ end }} {{ else }} {{ with .Resources.GetMatch "preview" }}
      <header>
        <img
          src="{{ .RelPermalink }}"
          alt=""
        />
      </header>
      {{ end }} {{ end }}
      <main>
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
        {{ with .Params.subtitle }}
        <h6>{{ . }}</h6>
        {{ end }}
        <p>
          {{ .Summary }} {{ if .Truncated }}
          <a href="{{ .RelPermalink }}">Read More...</a>
          {{ end }}
        </p>
      </main>
    </article>
  </li>
  {{ end }}
</ul>
{{ end }}
