<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header style="margin: 0px; padding: 0px">
      {{ block "banner" . }}
      <div
        class="banner"
        hidden
      ></div>
      {{ end }} {{ partial "header.html" . }}
    </header>
    <main style="padding: 0">{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
  </body>
</html>
