{{ define "main" }}
<div>
  {{ with .Resources.GetMatch "preview" }}
  <figure>
    <img
      src="{{ .RelPermalink }}"
      alt=""
      style="width: 100%; max-height: 33vh; object-fit: cover"
    />
  </figure>
  {{ end }}
  <section class="container">
    <header
      class="container"
      style="max-width: 768px; padding: 2rem 0"
    >
      <div class="container-fluid">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <h6>{{ . }}</h6>
        {{ end }}
      </div>
      <div class="container-fluid">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
        $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
      {{ with .Params.github_repo }}
      <div
        class="container-fluid"
        style="margin-left: 1rem; margin-top: 1rem; padding: 0; width: 1.25rem"
      >
        {{ partial "github-repo-link" . }}
      </div>
      {{ end }}
    </header>
    <main
      class="container-fluid"
      style="max-width: 768px"
    >
      {{ .Content }}
    </main>
  </section>

  <section>
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </section>
</div>
{{ end }}
